.App {
  text-align: center;
  padding: 30px;
}

select, button {
  margin: 20px;
}
.video {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px;
  height: 80vh;
}

video {
  max-width: 800px;
  margin:auto;
  height: 60vh;
}

.word {
  margin: 5px;
  white-space: nowrap;
  overflow-wrap: nowrap;
}

.paragraph {
  width: fit-content;
  margin: auto;
}

.speaker {
  font-weight: bolder;
  white-space: nowrap;
  overflow-wrap: nowrap;
}

.transcript {
  border: 1px solid black;
  height: 20vh;
  overflow: auto;
  margin: 50px 200px;
}

.currentWord {
  font-weight: bolder;
}

.currentParagraph {
  background-color: yellow;
}

@media screen and (max-width: 800px) {
  .App {
    padding: 0
  }
  .video {
    width: 100%;
    padding: 0;
    margin: 20px 0;
  }
  video {
    height: 40vh;
  }
  .transcript {
    font-size: small;
    width: 100%;
    margin: 20px auto;
    height: 15vh;
    overflow-wrap: anywhere;
  }  
}